/* This applies from 0px to 600px */



/* This applies from 600px onwards */
@media (min-width: 600px) {
  * {
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto', sans-serif;
    background-color: grey;
    margin: 0px;
  }

  header {
    background-color: lightgrey;
    color: white;
    text-align: right;
  }

  h1 {
    margin: 15px;
    color: black;
  }

  .main_content {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 10px;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: lightgrey;
  }

  p {
    display: inline-block;
    margin: 10px 5px;
  }
}
