/* This applies from 0px to 600px */



/* This applies from 600px onwards */
@media (min-width: 600px) {
  * {
    box-sizing: border-box;
  }

  header {
    background-color: white;
    text-align: right;
  }

  h1 {
    margin: 0px;
    padding: 5px;
    color: black;
  }

  .main_content {
    margin-left: 100px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 10px;
  }
}
